.container{
	position:relative;
}
img, canvas{
	position:absolute;
}
body{
	margin:0;
	height: 2000px;
}
#top{
	top:0;
}
#left{
    left: 0;
    top: 335px;
}
#right{
    left: 1143px;
    top: 335px;
}
#bottom{
    top: 886px;
}
#canvas{
    top: 335px;
    left: 369px;
}